<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <link rel="stylesheet" href="/css/home.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>
 

<body>

  <div class="main-div">
    <div class="user-actions">
      <a href="/login">Login</a>
      <a href="/register">Register</a>
      <a href="user/logout">Logout</a>
      
    </div>

  <div class="main-div">
  <ul id="list">

    <% all_uni_info.forEach(element => { %>
      <li> <a href="/university/?id=<%=element._id%>"><%= element.title %></a></li>
    <% }) %>

  </ul>

</div>

</body>
</html>