<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Anasayfa | Unileague</title>
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <script src="/js/home.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&amp;display=swap">
    <link rel="stylesheet" href="/css/home.css">
</head>

<body class="bg-white">
    <nav class="navbar navbar-dark navbar-expand-md fixed-top navbar-shrink py-3 bg-dark" id="mainNav">
        <div class="container">
          <a class="navbar-brand d-flex align-items-center" href="/">
                    </svg></span><span>UNILEAGUE</span></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item"><a class="nav-link active" href="#">Anasayfa</a></li>
                    <li class="nav-item"><a class="nav-link" href="/comparision">Karşılaştır</a></li>
                    <li class="nav-item"><a class="nav-link" href="/ranking">Genel Sıralama</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Hakkımızda</a></li>
                </ul>
                <% if (userType==="loggedIn") { %>
                  <a class="btn btn-primary shadow" role="button" href="user/profile"> &nbsp;Profilim&nbsp;&nbsp; </a>
                  &nbsp;&nbsp;
                  <a class="btn btn-primary shadow" role="button" onclick="logout()">Çıkış Yap</a>
                <% } else { %>
                  <a class="btn btn-primary shadow" role="button" href="/login">Giriş Yap</a>
                <% } %>
                &nbsp;&nbsp;
                </ul><% if (userType==="visitor") { %>
                  <a id="registerBtn" class="btn btn-primary shadow" role="button" href="/register">Kayıt Ol</a>
                <% } %>
            </div>
        </div>
    </nav>
    <section class="py-5 mt-5">
        <div class="container py-5">
            <div class="row mb-5">
                <div class="col-md-8 col-xl-6 text-center mx-auto">
                   <div class="container"><img class="img-fluid d-block mx-auto mb-5" src="images/uni.png" width="400" height="400">
                   </div>
                   <br><br><br><br>
                    <h2 class="fw-bold" style="color:black">Üniversite sayfasına gitmek için hemen aramaya başla</h2>
                    <br>
                          <div class="form">
                            <i class="fa fa-search"></i>
                            <input type="text" id="myInput" class="form-control form-input" placeholder="Universite için ara">
                            <span class="left-pan"><i class="fa fa-university"></i></span>
                          </div>
                          
                          <ul class="list-group" id="myList">
                            <% all_uni_info.forEach(element => { %>
                              <li class="list-group-item bg-white">
                                  <a href="/university/?id=<%=element._id%>"><span style="font-weight: bold;color:black"><%= element.title %></span></a>
                              </li>
                               <% }) %>
                  </ul>
                        </div>
                     
                    <br>
                   
                </div>
            </div>
        </div>
    </section>
    <footer class="py-2 bg-dark text-light fixed-bottom">
      <div class="container text-center">
          <p>&copy; 2023 UNILEAGUE. Bütün hakları saklıdır.</p>
      </div>
  </footer>
</body>
<script>

    var myList = document.getElementById("myList");
    var listItems = myList.getElementsByTagName("li");
  
    // Sadece belirli öğeyi göster
    function showItem(index) {

      for (var i = 0; i < listItems.length; i++) {
        listItems[i].style.display = "none";
      }
  
      // Belirli öğeyi göster
      var item = document.getElementById("item" + index);
      if (item) {
        item.style.display = "block";
      }
    }
    showItem(0);
    
  </script>

</html>


