<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ul>
        <li><%= user_info.name %></li>
        <li><%= user_info.last_name %></li>
        <li><%= user_info.email %></li>
        <li><%= user_info.password %></li>
    </ul>
    <a href="changePassword">Change Password</a>
    
</body>
</html>