/* Default styles */

.box {
    background-color: #d9d9d9;
    margin-right: 20%;
    margin-left: 20%;
    margin-top: 7% !important;
    margin-bottom: 3%;
    border-radius: 1%;
}

.uni-info {
    color: #0d0d0d;
    margin-left: 5%;
    margin-top: -2%;
    width: 90%;
    height: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.uni-info a {
    color: #0d0d9d;
}

.left {
    padding-left: 1rem;
    text-align: left;
}

.right {
    padding-right: 1rem;
    text-align: right;
}

.uni-rating {
    margin-left: 5%;
    margin-top: 2%;
    padding-left: 2rem;
    padding-top: 2rem;
    width: 90%;
    height: 30%;
    color: #0d0d0d;
    background-color: aliceblue;
    border-radius: 0.5rem;
}

.uni-rating .star {
    margin-left: 1%;
    margin-bottom: 1%;
    width: 48%;
    display: inline-block;
    text-align: center;
}

.uni-rating .star-span {
    margin-left: 1rem;
    padding-right: 2rem;
    font-size: 2rem;
    color: #FD4;
}

.uni-comment {
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: -8%;
    padding-left: 2rem;
    padding-top: 2rem;
    border-radius: 0.5rem;
    width: 90%;
    height: auto;
    background-color: aliceblue;
    color: #0d0d0d;
}

.uni-comment .send-comment {
    margin-left: 1%;
    margin-top: 1%;
    display: flex;
}

.uni-comment #comment-push {
    display: inline-block;
    text-align: center;
    margin-left: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
    width: auto;
    background-color: aliceblue;
    --display: none;
}

.uni-comment .comment-part {
    width: 100%;
    height: auto;
}

.uni-comment .comments {
    width: 80%;
    float: left;
    padding-top: 1rem;
    padding-left: 1rem
    
}

input {
    border: none;
    outline: none;
    text-align: center;
    background: none;
    pointer-events: none;
}

button {
    border: none;
}

.comments-container {
    width: 70%;
    height: 20%;
    margin-top: 1rem;
    margin-left: 3rem;
}

.comment {
    font-size: 1rem;
    margin-bottom: 20px;
}

.comment-body {
    margin-bottom: 10px;
    font-size: 1rem;
    padding-left: 1rem;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination a {
    display: inline-block;
    border: none;
    padding: 8px 12px;
    margin-right: 0.1rem;
    margin-bottom: 1rem;
    text-decoration: none;
    color: #333;
}

.pagination a.active {
    background-color: #333;
    color: #fff;
}

/* Responsive styles */




@media only screen and (max-width: 1400px) {
    .box {
        margin-right: 10%;
        margin-left: 10%;
    }
    .box h2 {
        font-size: 1.6rem;
    }
    .box h4 {
        font-size: 1.3rem;
    }
    .box h5 {
        font-size: 0.9rem;
    }
    
    
    .uni-info {
        margin-left: 2%;
        width: 96%;
    }
    
    .uni-rating {
        margin-left: 2%;
        padding-left: 1rem;
        padding-top: 1rem;
        width: 96%;
    }
    .uni-rating .star {
        width: 48%;
    }
    .uni-comment {
        margin-left: 2%;
        margin-top: 2%;
        margin-bottom: -6%;
        padding-left: 1rem;
        padding-top: 1rem;
        width: 96%;
    }
    
    .comments-container {
        width: 80%;
        margin-top: 0.5rem;
        margin-left: 2rem;
    }
}

@media only screen and (max-width: 900px) {
    .box {
        margin-right: 5%;
        margin-left: 5%;
    }
    .box h2 {
        font-size: 1.2rem;
    }
    .box h4 {
        font-size: 1rem;
    }
    .box h5 {
        font-size: 0.7rem;
    }
    
    .uni-info {
        margin-left: 1%;
        width: 98%;
    }
    .comment {
        font-size: 0.7rem;
    }
    .comment-body {
        font-size: 0.7rem;
    }
    .uni-rating {
        margin-left: 1%;
        padding-left: 1rem;
        padding-top: 1rem;
        width: 98%;
    }
    .uni-rating .star {
        width: 100%;
    }
    
    .uni-comment {
        margin-left: 1%;
        margin-top: 1%;
        margin-bottom: -4%;
        padding-left: 1rem;
        padding-top: 1rem;
        width: 98%;
    }
    
    .comments-container {
        width: 90%;
        margin-top: 0.5rem;
        margin-left: 1rem;
    }
}
