.redeem-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: #f7f7f7;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 300px; 
    margin-top: -150px;
    
  }
  .redeem-body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('https://blog.cdn.own3d.tv/resize=fit:crop,height:400,width:600/BoYRMteyQBOo9hgM2TO0');
    background-repeat: no-repeat;
    overflow:auto;
    background-position: center;
    background-size: cover;

  }
  
  .redeem-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  .redeem-label {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }
  
  .redeem-input {
    padding: 0.5rem;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }
  
  .redeem-button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background-color: #0077cc;
    color: #fff;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    margin-top: 20px;
  }
  
  .redeem-button:hover {
    background-color: #005fa3;
  }
  
  .redeem-message {
    font-size: 1.2rem;
    text-align: center;
    margin-left: 40px;
  }

.redeem-invalid-message{
    font-size: 1.2rem;
    text-align: center;
    margin-left: 40px;
    color: rgb(0, 0, 0);
}
.redeem-valid-message{
    font-size: 1.2rem;
    text-align: center;
    margin-left: 40px;
    color: rgb(0, 0, 0);
}
.redeem-correct{color:green;}
.redeem-incorrect{color:rgb(194, 0, 0);}

.redeem-popup-body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    width: 100vh;
  }
  
  .redeem-popup-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: #f7f7f7;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 450px;
    height: 300px;
  }
  
  .redeem-popup-message {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1rem;
  }
  
  .redeem-popup-text {
    font-size: 18px;
    text-align: center;
    margin-bottom: 1rem;
  }
  
  .redeem-popup-button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 1rem;
    cursor: pointer;
  }
